
p {
    background-image: url('');
    padding: 15px;
    color: #fff; /* Ensure text is readable */
}

header {
    background: #3c763d;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 2em;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    background: #6aaa5b;
    padding: 12px 24px;
    border-radius: 5px;
}

nav a:hover {
    background: #4cae4c;
}

section {
    background: #949494;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.small-box {
    width: 100%; /* Changed to full width */
    max-width: 1000px; /* Max width for larger screens */
    margin: 0 auto; /* Center the box */
}

.block {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}

.button-icon {
    width: 100%; /* Changed to full width */
    max-width: 500px; /* Max width for larger screens */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

@keyframes blink {
    0% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0; /* Fully invisible */
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}

.blinking-text {
    font-size: 35px; /* Size of the text */
    color: rgb(255, 255, 255); /* Color of the text */
    animation: blink 5s infinite; /* Apply the animation */
}
